imagenet_and_laion.py
scripts/old/*

__pycache__
__pycache__/*
*/__pycache__/*
.DS_Store
.DS_Store/*
*/.DS_Store/*
test
test/*
*/test/*
results
results/*
*/results/*
results_*
results_*/*
*/results_*/*
results_final
results_final/*
*/results_final/*
results_final_*
results_final_*/*
*/results_final_*/*
tb
tb/*
*/tb/*
.idea
.idea/*
*/.idea/*
import_models
import_models/*
*/import_models/*
tests/results/*
*/data/dataset/*
.idea
.idea/*
*/.idea/*
build
build/*
*/build/*
Slides
Slides/*
*/Slides/*
data
data/*
*/data/*
train_data
train_data/*
*/train_data/*
old_*
old_*/*
*/old_*/*
*.blend1
test_data
test_data/*
*/test_data/*
unit_tests
unit_tests/*
*/unit_tests/*
mds
mds/*
*/mds/*
old*
old/*
*/old/*
blender_scenes
blender_scenes/*
*/blender_scenes/*
egg-info
egg-info/*
*/egg-info/*

# sample.png
# sample*.png


samples
samples/*
*/samples/*